<header class="header">
  <tk-site-logo class="site-logo"></tk-site-logo>
  <ng-container *ngIf="isMobile; else isPc">
    <nav class="hamberger-menu" (click)="toggleDropdown()">
      <span></span>
      <span></span>
      <span></span>
      <ul class="dropdown-list">
        <li
          class="dropdown-list-item"
          *ngFor="let menu of homeMenuList"
          (click)="selectMenu.emit(menu)"
        >
          {{ menu }}
        </li>
      </ul>
    </nav>
  </ng-container>
  <ng-template #isPc>
    <nav class="home-nav">
      <ul class="nav-list">
        <li
          class="nav-list-item"
          *ngFor="let menu of homeMenuList"
          (click)="selectMenu.emit(menu)"
        >
          {{ menu }}
        </li>
      </ul>
    </nav>
  </ng-template>
</header>
