.my-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

@media (max-width: 768px) {
  .my-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
}

.github,
.twitter {
  font-size: 3rem;
  transition: all 0.2s;
  &:hover {
    font-size: 3.8rem;
  }
}

.hatena {
  width: 28px;
  transition: all 0.2s;
  &:hover {
    width: 32px;
  }
}

.wantedly {
  width: 26px;
  transition: all 0.2s;
  &:hover {
    width: 32px;
  }
}

.zenn {
  width: 32px;
  transition: all 0.2s;
  &:hover {
    width: 40px;
  }
}

.qiita {
  width: 28px;
  transition: all 0.2s;
  &:hover {
    width: 32px;
  }
}
