<div class="my-contents">
  <a
    href="https://github.com/t-kawamura1"
    target="_blank"
    rel="noopener noreferrer"
    class="github"
  >
    <fa-icon [icon]="github"></fa-icon>
  </a>
  <a
    href="https://twitter.com/kossari"
    target="_blank"
    rel="noopener noreferrer"
    class="twitter"
  >
    <fa-icon [icon]="twitter"></fa-icon>
  </a>
  <a
    href="https://itiiki.hatenablog.com/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img class="hatena" src="/assets/hatena.svg.png" alt="はてなブログロゴ"/>
  </a>
  <a
    href="https://www.wantedly.com/id/t_kawa"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img class="wantedly" src="/assets/wantedly.png" alt="wantedlyロゴ"/>
  </a>
  <a
    href="https://zenn.dev/tkawa01"
    target="_blank"
    rel="noopener noreferrer"
  >
    <ng-icon class="zenn" name="simpleZenn" size="20px"></ng-icon>
  </a>
  <a
    href="https://qiita.com/t-kawamura1"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img class="qiita" src="/assets/qiita.png" alt="Qiitaロゴ"/>
  </a>
</div>
