.title {
  margin-bottom: 40px;
  font-weight: 200;
  font-size: 4.2rem;
  letter-spacing: 4px;
}
.sub-title {
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 50px;
    font-size: 3rem;
    letter-spacing: 2px;
  }
  .sub-title {
    font-size: 1.5rem;
  }
}
