<div class="home" #home>
  <tk-header (selectMenu)="scrollToAnchorPoint($event)"></tk-header>
  <tk-scroll-down
    class="scroll-down"
    [class.slide-left]="isOverScroll(90)"
    [class.hidden]="isOnProfile()"
  ></tk-scroll-down>
  <div class="contents-wrp" [class.show]="isOverScroll(00)">
    <tk-my-contents class="my-contents"></tk-my-contents>
    <tk-to-top-button
      (click)="scrollToAnchorPoint('HOME')"
      class="to-top-button"
    ></tk-to-top-button>
  </div>
  <section class="hero">
    <tk-hero-item></tk-hero-item>
  </section>
  <div class="about-me">
    <section class="career sec-fadein" #career>
      <div class="heading-wrapper">
        <h2 class="heading sec-fadein">CAREER</h2>
      </div>
      <div class="ci-wrp" #careerItemWrp>
        <tk-career-item
          *ngIf="isOnCareerItemWrp()"
        ></tk-career-item>
      </div>
    </section>
    <section class="skill" #skill>
      <div class="heading-wrapper small">
        <h2 class="heading sec-fadein">SKILL</h2>
      </div>
      <tk-skill-item class="sec-fadein"></tk-skill-item>
    </section>
  </div>
  <section class="profile sec-fadein" #profile>
    <div class="heading-wrapper small">
      <h2 class="heading sec-fadein">PROFILE</h2>
    </div>
    <tk-profile-item></tk-profile-item>
  </section>
</div>
