<div class="home" #home>
  <tk-header></tk-header>
  <div>
    <tk-scroll-down
      class="scroll-down"
      [class.slide-left]="isOverScroll(90)"
    ></tk-scroll-down>
  </div>
  <div class="contents-wrp" [class.show]="isOverScroll(300)">
    <tk-my-contents class="my-contents"></tk-my-contents>
    <tk-to-top-button
      (click)="scrollToAnchorPoint('HOME')"
      class="to-top-button"
    ></tk-to-top-button>
  </div>
  <section class="hero">
    <tk-hero-item></tk-hero-item>
  </section>
  <div class="about-me">
    <section class="portfolio sec-fadein" ref="portfolio">
      <div class="heading-wrapper">
        <h2 class="heading sec-fadein">PORTFOLIO</h2>
      </div>
      <!-- <tk-portfolio-items></tk-portfolio-items> -->
    </section>
    <section class="skills" ref="skills">
      <div class="heading-wrapper small">
        <h2 class="heading sec-fadein">SKILLS</h2>
      </div>
      <!-- <tk-skills-set></tk-skills-set> -->
    </section>
    <section class="stances" ref="stances">
      <div class="heading-wrapper">
        <h2 class="heading sec-fadein">STANCE</h2>
      </div>
      <!-- <tk-stances-items></tk-stances-items> -->
    </section>
  </div>
  <section class="profile sec-fadein" #profile>
    <div class="heading-wrapper small">
      <h2 class="heading sec-fadein">PROFILE</h2>
    </div>
    <!-- <tk-profile-item></tk-profile-item> -->
  </section>
</div>
