.home {
  background: rgba(255, 255, 255, 0.7) url('/assets/home-bg.jpg') no-repeat fixed left bottom;
  background-size: cover;
  background-blend-mode: lighten;
}

.scroll-down {
  position: fixed;
  z-index: 9;
  left: 50%;
  bottom: 10px;
  transition: all 0.6s ease-out;
  &.slide-left {
    left: 50px;
  }
  &.hidden {
    opacity: 0;
  }
}

.heading-wrapper {
  margin: 0 auto;
  width: 200px;
  height: 400px;
  position: relative;
  &.small {
    height: 400px;
  }
  .heading {
    position: absolute;
    top: calc(50% - 15px);
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
  }
}

.sec-fadein {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.0s;
  &.scrollin {
    opacity: 1;
    transform: translateY(0);
  }
}

.contents-wrp {
  transition: all .5s ease-in-out;
  opacity: 0;
  &.show {
    opacity: 1;
  }
}

.my-contents {
  position: fixed;
  z-index: 11;
  top: 35%;
  right: 15px;
}

.to-top-button {
  position: fixed;
  z-index: 9;
  bottom: 10px;
  right: 10px;
}

.hero {
  padding: 280px 60px 460px;
}

.career {
  padding: 0 90px 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    background-color: #fcfcfc;
    // transform: skewY(6deg);
  }
}
.skill {
  padding: 0 90px 240px;
  position: relative;
  z-index: 2;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #f1f1f1;
    // transform: skewY(-6deg);
  }
}

.profile {
  padding: 0 60px 60px;
  p {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .home {
    // background: none;
    *:hover {
      opacity: 1;
    }
    // .scroll-down {
    //   display: none;
    // }
    // .sec-fadein {
    //   opacity: 1;
    //   transform: translateY(0);
    //   transition: none;
    // }
  }
  .heading-wrapper {
    height: 200px;
    &.small {
      height: 200px
    }
    .heading {
      font-size: 2rem;
    }
  }
  .my-contents {
    top: 93%;
    right: 18%;
  }
  .hero {
    padding: 160px 16px 160px;
  }

  .career {
    display: none;
    padding: 50px 16px 180px;
  }

  .skill {
    display: none;
    padding: 50px 16px 120px;
  }
  .profile {
    padding: 50px 16px 120px;
  }
}
