$key-color: #54C5BE;
$unit: 48px;
$unit2: $unit * 2;
$unit3: $unit * 3;
$unit5: $unit * 5;
$line-w: 2px;

.career {
  display: grid;
  grid-template-rows: repeat(16, $unit2);
  grid-template-columns: $unit5 $unit $unit5 $unit $unit5;
}

@keyframes leaf-in {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.leaf {
  width: $unit5;
  height: $unit2;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #dcdcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  >.year {
    letter-spacing: 2px;
  }

  &.l1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  &.l2 {
    grid-row: 3/4;
    grid-column: 5/6;
    opacity: 0;
    animation: leaf-in 0.3s ease-out 2.0s forwards;
  }
  &.l3 {
    grid-row: 5/6;
    grid-column: 5/6;
    opacity: 0;
    animation: leaf-in 0.3s ease-out 3.0s forwards;
  }
  &.l4 {
    grid-row: 5/6;
    grid-column: 1/2;
    opacity: 0;
    animation: leaf-in 0.3s ease-out 4.0s forwards;
  }
  &.l5 {
    grid-row: 7/8;
    grid-column: 1/2;
    opacity: 0;
    animation: leaf-in 0.3s ease-out 5.0s forwards;
  }
  &.l6 {
    grid-row: 9/10;
    grid-column: 3/4;
    opacity: 0;
    animation: leaf-in 0.3s ease-out 7.0s forwards;
  }
  &.l7 {
    grid-row: 11/12;
    grid-column: 3/4;
    opacity: 0;
    animation: leaf-in 0.3s ease-out 8.0s forwards;
  }

  &.bd-l {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      width: $line-w;
      height: 50%;
      background-color: $key-color;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &.bd-r {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      display: inline-block;
      width: $line-w;
      height: 50%;
      background-color: $key-color;
      transform: translateX(50%) translateY(-50%);
    }
  }
  &.bd-t {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      display: inline-block;
      width: 20%;
      height: $line-w;
      background-color: $key-color;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &.bd-b {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      display: inline-block;
      width: 20%;
      height: $line-w;
      background-color: $key-color;
      transform: translateX(-50%) translateY(50%);
    }
  }
}

.continued {
  grid-row: 15/16;
  grid-column: 3/4;
  font-size: 1.2em;
  opacity: 0;
  animation: continued 1.0s ease-out 10.0s forwards;
}
@keyframes continued {
  0% {
    opacity: 0;
    font-size: 1.2em;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    font-size: 1.4em;
  }
  100% {
    opacity: 1;
    font-size: 1.2em;
  }
}

@keyframes connect-h {
  0% {
    opacity: 0;
    width: 0;
  }
  30% {
    width: $unit;
  }
  100% {
    opacity: 1;
  }
}
@keyframes connect-v {
  0% {
    opacity: 0;
    height: 0;
  }
  30% {
    height: $unit;
  }
  100% {
    opacity: 1;
  }
}

.cl1 {
  grid-row: 2/4;
  grid-column: 1/5;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: calc($unit5 / 2);
    transform: translateX(-50%);
    display: inline-block;
    width: $line-w;
    height: $unit3;
    background-color: $key-color;
    opacity: 0;
    animation: connect-v 1.0s ease forwards;
  }
  &::after {
    position: absolute;
    content: '';
    top: $unit3;
    left: calc($unit5 / 2);
    transform: translateX(calc($line-w / -2)) translateY(-50%);
    display: inline-block;
    width: calc($unit5 / 2 + $unit2 + $unit5);
    height: $line-w;
    background-color: $key-color;
    opacity: 0;
    animation: connect-h 1.0s ease 1.0s forwards;
  }
}
.cl2 {
  grid-row: 4/5;
  grid-column: 5/6;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: calc($unit5 / 2);
    transform: translateX(-50%);
    display: inline-block;
    width: $line-w;
    height: $unit2;
    background-color: $key-color;
    opacity: 0;
    animation: connect-v 1.0s linear 2.0s forwards;
  }
}
.cl3 {
  grid-row: 5/6;
  grid-column: 2/5;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: calc($unit2 + $unit5);
    height: $line-w;
    background-color: $key-color;
    opacity: 0;
    animation: connect-h 1.0s ease 3.0s forwards;
  }
}
.cl4 {
  grid-row: 6/7;
  grid-column: 1/2;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: calc($unit5 / 2);
    transform: translateX(-50%);
    display: inline-block;
    width: $line-w;
    height: $unit2;
    background-color: $key-color;
    opacity: 0;
    animation: connect-v 1.0s linear 4.0s forwards;
  }
}
.cl5 {
  grid-row: 7/8;
  grid-column: 2/4;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: calc($unit + $unit5 / 2);
    height: $line-w;
    background-color: $key-color;
    opacity: 0;
    animation: connect-h 1.0s ease 5.0s forwards;
  }
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: calc($unit + $unit5 / 2);
    transform: translateY(calc($line-w / -2));
    display: inline-block;
    width: $line-w;
    height: $unit3;
    background-color: $key-color;
    opacity: 0;
    animation: connect-v 1.0s ease 6.0s forwards;
  }
}
.cl6 {
  grid-row: 10/11;
  grid-column: 3/4;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: calc($unit5 / 2);
    transform: translateX(-50%);
    display: inline-block;
    width: $line-w;
    height: $unit2;
    background-color: $key-color;
    opacity: 0;
    animation: connect-v 1.0s linear 7.0s forwards
  }
}
.cl7 {
  grid-row: 12/13;
  grid-column: 3/4;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: calc($unit5 / 2);
    transform: translateX(-50%);
    display: inline-block;
    width: $line-w;
    height: $unit2;
    background-color: $key-color;
    opacity: 0;
    animation: connect-v 1.0s ease-in 8.0s forwards;
  }
  &::after {
    position: absolute;
    content: '';
    top: 104%;
    left: calc($unit5 / 2);
    transform: translateX(-50%);
    display: inline-block;
    width: calc($line-w / 2);
    height: $unit2;
    border-left: 2px dashed $key-color;
    opacity: 0;
    animation: dots 1.0s linear 9.0s forwards;
  }
}
@keyframes dots {
  0% {
    opacity: 0;
    height: 0;
  }
  30% {
    height: calc($unit / 3);
  }
  100% {
    opacity: 1;
  }
}
