<div class="career">
  <div class="leaf l1 bd-b">
    <div class="year">{{ careers[0].year }}</div>
    <div>{{ careers[0].summary }}</div>
  </div>
  <div class="leaf l2 bd-b">
    <div class="year">{{ careers[1].year }}</div>
    <div>{{ careers[1].summary }}</div>
  </div>
  <div class="leaf l3 bd-l">
    <div class="year">{{ careers[2].year }}</div>
    <div>{{ careers[2].summary }}</div>
  </div>
  <div class="leaf l4 bd-b">
    <div class="year">{{ careers[3].year }}</div>
    <div>{{ careers[3].summary }}</div>
  </div>
  <div class="leaf l5 bd-r">
    <div class="year">{{ careers[4].year }}</div>
    <div>{{ careers[4].summary }}</div>
  </div>
  <div class="leaf l6 bd-b">
    <div class="year">{{ careers[5].year }}</div>
    <div>{{ careers[5].summary }}</div>
  </div>
  <div class="leaf l7 bd-b">
    <div class="year">{{ careers[6].year }}</div>
    <div>{{ careers[6].summary }}</div>
  </div>
  <div class="continued">
    To be continued...!!
  </div>

  <div class="cl1"></div>
  <div class="cl2"></div>
  <div class="cl3"></div>
  <div class="cl4"></div>
  <div class="cl5"></div>
  <div class="cl6"></div>
  <div class="cl7"></div>
</div>
